@import 'globals';

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  background-color: $super-light-gray;
  color: $main-font-color;
  font-family: Arial, Tahoma, sans-serif;
  margin-top: 3em;
  overflow-y: scroll;
}

div {
  width: 100%;
}

input[type='checkbox'] {
  background: $white;
  border: 1px solid $secondary-gray-font;
  border-radius: 40px;
  box-shadow: inset 0 0 2px $black-tint-10;
  height: 1em;
  width: 1em;
}

.button__primary {
  background-color: $dark-green-main;
  border-color: $dark-green-main;
  border-radius: 3px;
  color: $white;
}

.button__side {
  padding: 8px 10px;
}

.button {
  background-clip: padding-box;
  border: 1px solid transparent;
  border-radius: 2px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 14px;
  font-weight: bold;
  line-height: 18px;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
}

.main__wrapper {
  @include center;
  align-items: flex-start;
  flex-direction: column;
  margin: 50px 300px;
  max-width: 850px;
  min-width: 700px;
  width: 50%;
}

.popup__box {
  border-radius: 2px;
  display: flex;
  filter: drop-shadow(0 2px 4px black-tint-25);
  flex-direction: column;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.popup__box__link__wrapper {
  border-bottom: $main-border;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 3fr;

  div {
    @include center;
    justify-content: flex-start;
    text-align: left;

    &:first-of-type {
      margin-left: 20px;
    }
  }
}

.popup__box__link {
  color: $dark-green-main;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 20px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.upper__wrapper {
  background-color: $white;
  border-bottom: $main-border;
  border-left: $main-border;
  border-right: $main-border;
  padding: 24px;
}
