@import 'globals';

.tabswitch__wrapper {
  @include center;
  width: 100%;
}

.tabswitch__tab {
  flex: 25%;
  @include center;
  flex-direction: column;
  padding: 18px 30px;
  cursor: pointer;
  outline: none;
  color: #078171;
  border: $thinGrayBorder;
  border-right: none;
  background-color: #f9f9f9;

  &:last-of-type {
    border-right: 0.5px solid #e5e5e5;
  }
}
.active {
  color: #000a12;
  position: relative;
  outline: none;
  font-weight: 700;
  background-color: #fff;
  border-bottom-color: #fff;
  border-top: 3px solid $darkGreenMain;
}

.tabNumbers {
  font-weight: 700;
  font-size: 18px;
  margin-top: 10px;
}

.tabCategory {
  font-size: 14px;
}
