@import '../../../css/globals.scss';

.review__userInfo__wrapper {
  align-items: center;
  display: grid;
  font-size: 14px;
  grid-gap: 20px;
  grid-template-columns: auto 1fr auto;
}

.review__userInfo__username,
.review__userInfo__contributions {
  font-weight: bold;
}

.review__userInfo__username {
  color: $main-font-color;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.review__userInfo__subInfo {
  color: $another-secondary-gray-font; // try secondary-gray-font
  font-size: 12px;
  margin-top: 6px;
}

.review__userInfo__extras__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
  position: relative;
  z-index: 3;

  > * {
    margin-left: 10px;
  }
}

.review__userInfo__avatar {
  cursor: pointer;
  height: 46px;
}

.review__extrasPopup__wrapper {
  position: absolute;
  right: 0;
  top: 200%;
  width: 120px;
}

.review__userInfo__popup {
  background-color: $white;
  border-radius: 2px;
  filter: drop-shadow(0 2px 4px $black-tint-25);
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;

  li {
    margin: 0;
    padding: 18px 24px;

    a {
      color: $dark-gray-secondary;
      text-decoration: none;

      &:hover {
        color: $black-bold-text;
      }
    }
  }
}
