@import '../../../css/globals.scss';

.ratingbar__wrapper {
  display: grid;
  font-size: 14px;
  grid-template-columns: 1fr auto;
  margin-bottom: 10px;

  span {
    margin-right: 40px;
  }
}

.ratingbar__inner__wrapper {
  cursor: pointer;
  display: grid;
  grid-template-columns: auto 1fr;

  input {
    cursor: pointer;
    margin-right: 10px;
  }

  .label {
    cursor: pointer;
    display: grid;
    grid-template-columns: 80px 1fr;
  }
}

.ratingbar__bar__bg {
  background-color: $ratings-bg;
  height: 12px;
  position: relative;
}

.ratingbar__bar__green {
  background-color: $dark-green-main;
  bottom: 0;
  left: 0;
  position: absolute;
  top: 0;
}
