@import '../../../css/globals.scss';

.review__stars__wrapper {
  @include center;
  justify-content: flex-start;
  flex-direction: row;
  margin-top: 2px !important;
}

.review__stars__full,
.review__stars__empty {
  @include center;
  position: relative;
  display: inline-block;
  background-color: #fff;
  border: 2px solid lighten($greenRatings, 10%);
  margin: 0 1px 0 0 !important;
  padding: 0 !important;
  border-radius: 50%;
}

.review__stars__full::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  height: 60%;
  width: 60%;
  background-color: $greenRatings;
  border-radius: 50%;
  transform: translate(-50%, -50%);
}

.review__stars__description {
  margin-left: 8px;
}
