.answer__outer__wrapper {
  background-color: #fff;
  padding: 12px 24px;
}

.answer__wrapper {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-gap: 15px;
}

.answer__avatar {
  height: 26px;
  width: 26px;
}

.answer__description {
}

.answer__answer {
  color: #767676;
  font-size: 14px;
  line-height: 18px;
}

.answer__username {
  font-size: 14px;
  line-height: 18px;
  color: #4a4a4a;
  text-decoration: none;
  font-weight: 700;

  &:hover {
    text-decoration: underline;
  }
}

.answer__userInfo {
  font-size: 14px;
  line-height: 18px;
  color: #4a4a4a;
  margin-bottom: 9px;
}

.answer__date {
  font-size: 12px;
  line-height: 16px;
  color: #767676;
  margin-bottom: 9px;
}

.answer__date__stars {
  color: #aab4be;
  font-weight: 700;
}

.answer__seeAll {
  display: block;
  margin-top: 16px;
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #000a12;
  text-decoration: none;
  outline: none;

  &:hover {
    text-decoration: underline;
  }
}
