@import '../../../css/globals.scss';

.review__content__wrapper {
  background-color: $light-gray;
  color: $dark-gray-secondary;

  h4 {
    color: $black-bold-text;
    font-size: 18px;
    margin: 0.5rem 0;
    padding: 0;
  }

  p {
    font-size: 16px;
    line-height: 20px;
    margin: 0;
    padding: 0;
  }

  a,
  .review__content__tripInfo {
    display: block;
    font-size: 14px;
  }

  div {
    margin-top: 10px;
  }

  a {
    color: $secondary-gray-font;
    display: inline-block;
    margin-top: 10px;
    position: relative;
    text-decoration: none;

    &::after {
      background: url('https://png.pngtree.com/svg/20161117/b362dc768b.svg');
      background-size: cover;
      content: '';
      height: 12px;
      position: absolute;
      right: -20px;
      top: 50%;
      transform: translateY(-50%);
      width: 10px;
    }
  }
}

.review__content__key {
  font-weight: bold;
}

.review__content__tripType {
  margin-bottom: 10px;
}

.review__content__advisory {
  border-top: $darker-gray-border-secondary;
  color: $secondary-gray-font;
  font-size: 12px;
  font-style: italic;
  padding-top: 10px;
}

.review__extras__stars__wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 75%;
}
