@import '../../../css/globals.scss';

.photosBar__category {
  background-color: $white;
  border: $main-border;
  border-radius: 2px;
  box-shadow: 1px 1px 0 0 $black-tint-5;
  color: $dark-gray-secondary;
  cursor: pointer;
  font-size: 12px;
  line-height: 14px;
  outline: none;
  padding: 11px 12px 10px;
  text-align: center;
  text-decoration: none;
}

.photosBar__category__active {
  background-color: $dark-green-main;
  color: $white;
}
