@import '../../../css/globals.scss';

.answer__writeNew {
  align-items: center;
  background-color: $white;
  border-top: $main-border;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: auto 1fr;
  padding: 16px 24px;
}

.answer__search__icon__wrapper {
  border: $main-border;
  border-radius: 50%;
  height: 20px;
  overflow: hidden;
  position: relative;
  width: 20px !important;
}

.answer__search__icon {
  left: 50%;
  margin: 0 !important;
  padding: 0 !important;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
}

.answer__search {
  border: $darker-gray-border;
  border-radius: 2px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 6px;
  resize: none;
  width: 100%;
}
