@import '../../../css/globals.scss';

.review__links__helpfulVotes {
  border-bottom: $lighter-gray-border;
  color: $secondary-gray-font;
  font-size: 12px;
  margin-bottom: 10px;
  padding-bottom: 12px;
}

.review__links {
  padding: 2px 0;
  width: 50%;

  > * {
    margin-right: 26px;
  }
}

.review__links__wrapper {
}
