@import '../../../css/globals.scss';

.review__links__helpfulVotes {
  border-bottom: $lighter-gray-border;
  color: $secondary-gray-font;
  font-size: 12px;
  margin-bottom: 10px;
  padding-bottom: 12px;
}

.review__links {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 2px 0;
  width: 50%;

  > * {
    display: inline-block;
    margin-right: 20px;
    text-align: left;
  }
}
