@import '../../../css/globals.scss';

.photosBar__wrapper {
  border-top: $thin-gray-border;
  margin-top: 24px;
  padding: 24px 0 0 0;

  h5 {
    margin: 0 0 10px 0;
    padding: 0;
    text-transform: uppercase;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      display: inline-block;
      margin-bottom: 6px;
      margin-right: 6px;
      padding: 0;
    }
  }
}
