@import '../../../css/globals.scss';

.photosBar__wrapper {
  border-top: $thinGrayBorder;
  padding: 24px 0 0 0;
  margin-top: 24px;

  h5 {
    text-transform: uppercase;
    margin: 0 0 10px 0;
    padding: 0;
  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;

    li {
      padding: 0;
      margin-bottom: 6px;
      margin-right: 6px;
      display: inline-block;
    }
  }
}
