@import '../../../css/globals.scss';

.review__photo {
  background-size: cover !important;
  cursor: pointer;
  height: 300px;
  position: relative;
  width: 100%;
  z-index: 1;

  &::after {
    background-color: $white-tint-0;
    bottom: 0;
    content: '';
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: background-color 200ms ease;
  }

  &:hover::after {
    background-color: $white-tint-10;
  }
}

.review__photo__description {
  background-color: $light-gray;
  color: $dark-gray-secondary;
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  padding: 16px 24px;
}
