@import '../../../css/globals.scss';

.review__smallButton__wrapper {
  @include center;
  cursor: pointer;
  margin-right: 5px;
  display: inline-block !important;
  width: auto !important;

  span {
    font-size: 12px;
    font-weight: bold;
    margin-left: 7px;
  }
}
