@import '../../css/globals.scss';

.review__inner__wrapper {
  background-color: $white;
  padding: 16px 24px;
}

.reviews__wrapper {
  border-top: $thin-gray-border;
  display: grid;
  font-size: 14px;
  grid-template:
    'ratings date type language'
    'mentions mentions mentions mentions'
    / minmax(250px, 350px) auto auto auto;
  margin-top: 24px;
  padding-top: 24px;
  width: 100%;
}

.reviews__ratings {
  grid-area: ratings;
}

.reviews__date {
  grid-area: date;
}

.reviews__type {
  grid-area: type;
}

.reviews__language {
  grid-area: language;
}

.reviews__mentions {
  grid-area: mentions;

  p {
    margin-bottom: 0;
    padding-bottom: 0;
  }
}

.checkbox__wrapper {
  margin-bottom: 10px;
}

.reviews__subheader {
  color: $black;
  margin-top: 0;
  padding-top: 0;
}

.styled__checkbox {
  opacity: 0;
  position: absolute;

  & + label,
  & + span {
    cursor: pointer;
    padding: 0;
    position: relative;
  }

  // Box.
  & + label::before,
  & + span::before {
    background: $white;
    border: $checkbox-border;
    border-radius: 3px;
    content: '';
    display: inline-block;
    height: 1.2em;
    margin-right: 10px;
    transition: all 100ms ease;
    vertical-align: text-top;
    width: 1.2em;
  }

  /* Box hover
  &:hover + label:before {
  }

  // Box focus
  &:focus + label:before {
  } */

  // Box checked
  &:checked + label:before,
  &:checked + span:before {
    background: $dark-green-main;
  }

  // Disabled state label.
  &:disabled + label,
  &:disabled + span {
    color: $checkbox-gray-1;
    cursor: auto;
  }

  // Disabled box.
  &:disabled + label:before,
  &:disabled + span:before {
    background: $checkbox-gray-bg;
    box-shadow: none;
  }

  // Checkmark. Could be replaced with an image
  &:checked + label:after,
  &:checked + span:after {
    background: $white;
    box-shadow: 2px 0 0 $white, 4px 0 0 $white, 4px -2px 0 $white,
      4px -4px 0 $white, 4px -6px 0 $white, 4px -8px 0 $white;
    content: '';
    height: 2px;
    left: 4px;
    position: absolute;
    top: 8px;
    transform: rotate(45deg);
    width: 2px;
  }
}

[type='radio']:checked,
[type='radio']:not(:checked) {
  left: -9999px;
  position: absolute;
}
[type='radio']:checked + label,
[type='radio']:not(:checked) + label {
  cursor: pointer;
  display: inline-block;
  padding-left: 28px;
  position: relative;
}
[type='radio']:checked + label:before,
[type='radio']:not(:checked) + label:before {
  background: $white;
  border: $checkbox-border;
  border-radius: 100%;
  content: '';
  height: 20px;
  left: 0;
  position: absolute;
  top: 0;
  width: 20px;
}
[type='radio']:checked + label:after,
[type='radio']:not(:checked) + label:after {
  background: $dark-green-main;
  border-radius: 100%;
  content: '';
  height: 12px;
  left: 4px;
  position: absolute;
  top: 4px;
  transition: all 100ms ease;
  width: 12px;
}
[type='radio']:not(:checked) + label:after {
  opacity: 0;
  transform: scale(0);
}
[type='radio']:checked + label:after {
  opacity: 1;
  transform: scale(1);
}
