@import '../../../css/globals.scss';

.reviews__search__wrapper {
  background-color: $white;
  border: $darker-gray-border-secondary;
  box-sizing: border-box;
  margin-top: 10px;
  padding: 0 5px;
  transition: box-shadow 50ms ease-in;

  div {
    @include center;
    color: $dark-green-main;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: auto 1fr auto;
    padding: 10px;

    input {
      border: 0;
      margin-left: 10px;
      outline: none;
      width: 100%;
    }
  }
}

.reviews__searchButton,
.reviews__closeButton__wrapper {
  cursor: pointer;
}

.reviews__closeButton__wrapper {
  transition: opacity 150ms ease;
}
