@import '../css/globals.scss';

.tabHeader__wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;

  h2 {
    color: $black-bold-text;
    flex: 1;
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 0;
    margin-top: 0;
    padding-bottom: 0;
    padding-top: 0;
  }

  > div {
    flex: 1;
    text-align: right;
  }
}

.tabHeader__downArrow {
  fill: $white;
  height: 10px;
  width: 10px;
}

.button__header {
  margin-right: 1px;
}

.tabHeader__popup__wrapper {
  background-color: $white;
  position: relative;
}

.tabHeader__popup {
  background-color: $white;
  color: $dark-green-main;
  position: absolute;
  right: 0;
  top: 200%;
  width: 250px;
}

.popup__box {
  border-radius: 2px;
  display: flex;
  filter: drop-shadow(0 2px 4px $black-tint-25);
  flex-direction: column;
  padding: 0;
  position: absolute;
  z-index: 10;
}

.popup__box__link__wrapper {
  border-bottom: $main-border;
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr 3fr;

  div {
    @include center;
    justify-content: flex-start;
    text-align: left;

    &:first-of-type {
      margin-left: 20px;
    }
  }
}

.popup__box__link {
  color: $dark-green-main;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  padding: 20px 0;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
